<p-table #table [value]="dataSource" [paginator]="true" [rows]="rows" 
          [globalFilterFields]="globalFilterFields"
         [responsiveLayout]="'scroll'" [resizableColumns]="true" scrollHeight="'auto'"
         [sortMode]="'multiple'" [rowHover]="hover" [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
         [ngStyle]="{ 'font-size': fontSize }">

  <ng-template pTemplate="caption" *ngIf="showFilter">
    <div class="filter-container">
     <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (onClick)="clear(table)"></p-button>
     <p-iconField iconPosition="left">
        <p-inputIcon>
            <i class="pi pi-search"></i>
        </p-inputIcon>
         <input pInputText type="text" (input)="table.filterGlobal($any($event.target).value, 'contains')" placeholder="Search all fields" />
     </p-iconField>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let column of columns" 
          [pSortableColumn]="column.key === 'status' ? 'statusPercentage' : column.key"
          [ngClass]="'col-' + column.key">
        <div class="header-content">
          <div class="header-text" [ngClass]="{'multi-word': column.label.includes(' '), 'center-actions-header': column.key === 'actions' && hasMultipleActionsInColumn()}">{{ column.label }}</div>
          <div class="header-icons">
            <p-sortIcon *ngIf="column.key !== 'actions'" [field]="column.key === 'status' ? 'statusPercentage' : column.key"></p-sortIcon>
            <p-columnFilter *ngIf="column.filterable" [field]="column.key" display="menu" class="column-filter"/>
          </div>
        </div>
      </th>
    </tr>
  </ng-template>

  <!-- Table Body -->
  <ng-template pTemplate="body" let-rowData>
    <tr [ngClass]="{'clickable-row': hover}" (click)="handleRowClick(rowData)">
      <td *ngFor="let column of columns" [ngClass]="{'text-center':
        (typeof rowData[column.key] === 'string' && rowData[column.key].length <= 2) ||
        (typeof rowData[column.key] === 'number' && rowData[column.key].toString().length <= 2)}">
        
        <ng-container *ngIf="column.key !== 'actions'; else actionTpl">

          <ng-container *ngIf="column.key === 'status'; else checkDate">
          <app-progressbar
            [current]="rowData.status.current"
            [total]="rowData.status.total">
          </app-progressbar>
        </ng-container>

        <!-- Check for Date -->
        <ng-template #checkDate>
          <ng-container *ngIf="isDate(rowData[column.key]); else regularValue">
            {{ rowData[column.key] | date: 'dd/MM/yyyy' }}
          </ng-container>
        </ng-template>

         <ng-template #regularValue>
          {{ rowData[column.key] }}
         </ng-template>

      </ng-container>
        <ng-template #actionTpl>
            <div class="action-buttons" [ngClass]="{ 'center-label': rowData[column.key].length > 1 }">
              <ng-container *ngFor="let action of rowData[column.key] ">
                <app-button color="#7B61FF"  (functionemit)="handleActionClick(action, rowData)">{{ action.trim() }}</app-button>
              </ng-container>
              </div>
        </ng-template>
      </td>
    </tr>
  </ng-template>

</p-table>