<app-toast #toast></app-toast>


<app-common-layout [breadcrumbItems]="items">
   <div *ngIf="isLoading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="main" *ngIf="!isLoading">
    <app-cards class="details">
      <div class="heading">Candidate Details</div>
      <div class="candidate-details" *ngIf="candidate">
        <div class="row" *ngFor="let key of fieldOrder">
          <div class="label">{{ fieldLabels[key] }}</div>
          <div class="value">{{ candidate[key] }}</div>
        </div>
      </div>
    </app-cards>

    <app-cards class="status status-container">
      <div class="header">
        <h3>Candidate Status</h3>
      </div>

      <div class="timeline">
        <div class="step" *ngFor="let step of statusList; let i = index">
          <div class="line" *ngIf="i !== 0"></div>
          <div
            class="circle"
            [class.completed]="step.completed"
            [class.rejected]="!step.completed && isRejected"></div>
          <div class="content">
            <div class="date" *ngIf="step.date">{{ step.date }}</div>
            <div class="label">{{ step.label }}</div>
          </div>
        </div>
      </div>

      <div class="right-align">
        <app-button class="scaled" (click)="selectCandidate()" [disabled]="finished || isJobClosed || isDisabled">Next Stage</app-button>
        <app-button class="scaled" (click)="rejectCandidate()"[disabled]="finished || isJobClosed || isDisabled">Reject</app-button>
      </div>
    </app-cards>
  </div>
</app-common-layout>
<app-alerts #alerts></app-alerts>
