<!-- Left Section -->
      <section class="left-section">
        <!-- Job Requisition Card -->
        <div class="card full-width job-requisition job">
          <div class="job-requisition-header">
            <app-header-text context="table-header" [nopad]="true">Job Requisition Forms</app-header-text>
                  <p-select 
            [options]="viewOptions" 
            [(ngModel)]="selectedView" 
            optionLabel="name" 
            optionValue="code"
            placeholder="Sort by date"
            class="select-dropdown"
          >
          </p-select>
          </div>
          <hr />
          <div class="list-container">
            <div *ngIf="isLoading" class="loading-container" style="text-align: center;">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="!isLoading" class="loading-container">
<app-list-view [jobs]="jobs"></app-list-view>
          </div>
          </div>

        </div>
  
        <!-- Bottom Metrics
        <div class="bottom-metrics">
          <div class="card metric-card" style="height: 210px;">
            <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart>
          </div>
          <div class="card metric-card">Time to Hire</div>
        </div>
      </section> -->
  
      <!-- Right Section -->
      <!-- <section class="right-section"> -->
  
        <!-- Card 1: Increase -->
        <!-- <div class="card">
          <div class="increase">
            +61% <span>📈</span>
          </div>
          <div class="increase-text">
            Increase in the number of successful hires this month
          </div>
        </div> -->
      
        <!-- Loop through metricsData -->
        <!-- <app-stat-card *ngFor="let metric of metricsData" [metric]="metric"></app-stat-card> -->

      
      </section>
      