.card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .label {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .stat {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  
  .progress-circle {
    position: relative;
    width: 0px;
    height: 40px;
    margin: 10px auto 0;
  }
  
  .progress-circle svg {
    transform: rotate(-90deg);
  }
  
  .progress-circle circle {
    fill: none;
    stroke-width: 6;
  }
  
  .progress-bg {
    stroke: #eee;
  }
  
  .progress-bar {
    stroke-linecap: round;
  }
  
  .progress-text {
    position: absolute;
    top: 59%;
    right: 10%;
    transform: translate(148%, -50%);
    font-size: 12px;
    font-weight: bold;
  }
  