<div class="card">
    <div class="stat-block">
      <div class="label">{{ metric.title }}</div>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div class="stat" style="padding-left: 3vw" [ngStyle]="metric.percentage === undefined ? { width: '100%' } : {}">
          {{ metric.value }}
        </div>
  
        <div class="progress-circle" *ngIf="metric.percentage !== undefined">
          <svg width="48" height="48">
            <circle class="progress-bg" cx="24" cy="24" r="20"></circle>
            <circle
              class="progress-bar"
              cx="24"
              cy="24"
              r="20"
              [attr.stroke]="metric.color"
              stroke-dasharray="125.6"
              [attr.stroke-dashoffset]="125.6 - (metric.percentage / 100) * 125.6"
            ></circle>
          </svg>
          <div class="progress-text">{{ metric.percentage }}%</div>
        </div>
      </div>
    </div>
  </div>
  