.admin-users-header {
    display: flex;
    justify-content: space-between;
}
.assign-head{
    margin-bottom: 2rem;
    display: flex;
    justify-content:space-between;
}
.head-card{
    margin-bottom: 2rem;
}