<app-common-layout>
  <app-cards height="5rem" class="custom-padding">
    <div class="assign-head">
      <div class="name-sec">
        <app-header-text  [nopad]="true">Recruiter Head : {{recruiterHeadName}} </app-header-text>
      </div>
      <app-button (click)="openAssignPopover($event)">Change</app-button>
    </div>
  </app-cards>

  <app-assign
  [teamList]="teamList"
  (memberSelected)="handleSelectedMember($event)"
 #assignBox >

        </app-assign>
        
        <app-alerts #alerts></app-alerts>


  <app-cards class="custom-padding">
    <div class="admin-users-header">
      <app-header-text context="table-header" [nopad]="true">Users</app-header-text>
      <app-button-icon label="Upload" icon="upload"></app-button-icon>
    </div>
    <app-table [dataSource]="dataSource" [columns]="columns" [globalFilterFields]="globalFilterFields" [hover]="false" [rows]="7" [showFilter]="true"
      [fontSize]="'12px'"></app-table>
  </app-cards>


</app-common-layout>
