<app-common-layout>
  <app-cards width="96.2%" height="4.5rem" class="add-head">
    <div class="top-card">
    <app-header-text context="table-header" [nopad]="true">Recruitment Head : {{ recruiterHeadName }}
       </app-header-text>
<app-button>Change</app-button>
</div>
  </app-cards>
  <app-cards class="custom-padding"> 
    <div class="admin-users-header">
      <app-header-text context="table-header" [nopad]="true">Users</app-header-text>
      <app-button-icon label="Upload" icon="upload"></app-button-icon>
    </div>
    <app-table [dataSource]="dataSource" [columns]="columns" [globalFilterFields]="globalFilterFields" [hover]="false" [rows]="7" [showFilter]="true"
    [fontSize]="'12px'"></app-table>
</app-cards>
</app-common-layout>