<p-drawer
  [(visible)]="visible"
  styleClass="!w-full md:!w-80 lg:!w-[30rem]"
  [closable]="false"
  [style]="{
    'background-color': '#7B61FF',
    'max-width': '30vh',
    'border': 'none',
    'display': 'flex',
    'flex-direction': 'column',
    'align-items': 'center'
  }"
>
  <div class="drawer-container">
    <div class="container">
      <img src="assets/expanded-logo.png" alt="RecruitX logo" />
    </div>

    <!-- Centered icons -->
    <div class="icon-wrapper">
      <app-icon-group
        [iconList]="iconList"
        [showLabel]="true"
        [visible]="visible"
        (toggleSidebar)="visible = $event"
      ></app-icon-group>
    </div>
  </div>
</p-drawer>

<!-- Collapsed Sidebar -->
<div class="leftside">
  <div class="logo-container">
    <img src="assets/logo.png" alt="RecruitX logo" />
  </div>

  <div class="icon-wrapper">
    <app-icon-group
      [iconList]="iconList"
      [showLabel]="false"
      [visible]="visible"
      (toggleSidebar)="visible = $event"
    ></app-icon-group>
  </div>
</div>
