
<div class="base">
  <div class="right-align">
        <app-button (functionemit)="openModal()">Add New Applicants </app-button>
       
    </div>
  <app-table
    [dataSource]="dataSource"
    [columns]="columns"
    [globalFilterFields]="globalFilterFields"
    [hover]="true"
    [rows]="7"
    [showFilter]="true"
    [rowClickFn]="routes"
    [loading]="isLoading"
    [actionMethods]="actionMethods">    
  </app-table>

  <app-modal 
[(visible)]="visible" 
header="Add Applicants"
[maximizable]="true" 
[style]="{ width: '50rem', height: '35rem' }">
  <app-upload *ngIf="!isUploading"
  [acceptTypes]="accept"   
   (onUploadComplete)="handleUploadComplete($event)" >

  </app-upload>
  <div *ngIf="isUploading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
</div>
</app-modal>
</div>
   <app-toast #toast></app-toast>