::ng-deep .p-datatable-table {
    border-spacing: 0;
    border-collapse: separate;
    width: 98%;
}
.right-align{
    position: absolute;
    top:183px;
    right:80px;
    z-index: 100;
}
::ng-deep th, td{
    max-width: 130px;
}