
<div class="base">
  <div class="right-align">
        <app-button (functionemit)="openModal()">Add New Applicants </app-button>
       
    </div>
  <app-table
    [dataSource]="dataSource"
    [columns]="columns"
    [globalFilterFields]="globalFilterFields"
    [hover]="true"
    [rows]="7"
    [showFilter]="true"
    [rowClickFn]="routes"
    [loading]="isLoading">    
  </app-table>

  <app-modal 
[(visible)]="visible" 
header="Add Job Requisitions"
[maximizable]="true" 
[style]="{ width: '50rem', height: '35rem' }">
  <app-upload></app-upload>
</app-modal>

</div>

