.page-container {
  display: flex;
  gap: 1rem;
  // padding: 2rem;
  width: 96%;

  .left-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
  }

  .right-column {
    flex: 2;
  }
}