<app-header></app-header>
<app-button color="#7B61FF">
  Generate
  <!-- <app-icon [icon]="'pi pi-save'"></app-icon> -->
</app-button>
<app-cards width="30%" height="40%"> 
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab nemo ea consectetur fugiat corrupti dignissimos aliquam, aliquid similique voluptas rem officia autem architecto. Tenetur, necessitatibus dolore. Velit labore fugiat nesciunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias veniam vel enim doloribus vero nam ut obcaecati perferendis expedita culpa laborum recusandae molestiae, deleniti ipsum sit hic asperiores nobis quaerat?</p>
</app-cards>