:host ::ng-deep .p-breadcrumb { 
    background: #0da35000 !important; 
    padding-top: 0;
    padding-left: 2.2%;
    color: #7B61FF;
} 
:host ::ng-deep .p-breadcrumb-list  { 
    color: #7B61FF !important; 
} 