:host ::ng-deep .p-breadcrumb { 
    background: #ffffff00 !important; 
    padding-top: 0;
    padding-left: 2px;
    color: #7B61FF;
} 
:host ::ng-deep .p-breadcrumb-separator,
:host ::ng-deep .p-breadcrumb-item-link,
:host ::ng-deep .p-breadcrumb-item-icon{ 
    color: #7B61FF !important; 
    font-weight: 500;
    font-size: 0.9rem;
} 
:host ::ng-deep .p-breadcrumb-item-link :hover{
    color: #7B61FF !important;
}

