<p-breadcrumb class="max-w-full" [model]="items" [home]="home">
 
  <ng-template pTemplate="home" let-homeItem>
    <a [routerLink]="homeItem.route" class="breadcrumb-link">
      <app-icon name="home" customColor="#7B61FF"></app-icon>
    </a>
  </ng-template>

  
  <ng-template pTemplate="item" let-item>
    <a [routerLink]="item.route" class="p-breadcrumb-item-link">
      <span *ngIf="item.icon" [ngClass]="[item.icon, 'text-color']"></span>
      <span >{{ item.label }}</span>
    </a>
  </ng-template>
</p-breadcrumb>
