:host ::ng-deep .p-dialog-header {
    background-color: var(--custom-header-color);
    color: white; 
    border-radius: 11px 11px 0px 0px;
    z-index: 1;
    margin: -1px;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-header .p-icon {
  color: white !important;
  fill: white !important;
}
:host ::ng-deep .p-dialog .p-dialog-header .p-icon:hover {
  color: black !important;
  fill: black !important;
}