<app-common-layout>
  <div class="custom-padding" >
    <app-cards>
      <app-tabs [tabs]="tabs"></app-tabs>

      <!-- Top Navigation -->
      <!-- <div class="ui secondary pointing menu custom-tab-nav">
      <a
        class="item"
        [routerLink]="'pendingjdgeneration'" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Pending JD Generation
      </a>
      <a
        class="item"
        [routerLink]="'openjd'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Open JD
      </a>
      <a
        class="item"
        [routerLink]="'closedjd'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Closed JD
      </a>
    </div> -->

      <!-- Content loaded by router -->
      <router-outlet></router-outlet>
    </app-cards>
  </div>
</app-common-layout>