::ng-deep .p-progressbar {
  background-color: #DBD4FF !important;
  overflow: hidden;
  width: 12rem;
  padding: 0;
  height: 1rem !important;
}
::ng-deep.p-progressbar-label {
  font-weight: 100 !important;
  font-size: 0.8rem !important;
  color: white;
}
