<div class="nbody">
    <div class="left">
      <div class="sec">
        <div class="heading">
          Priority
        </div>
        <div class="content">
          Urgent
        </div>
      </div>
      <hr />
      <div class="sec">
        <div class="heading">
          Raised By
        </div>
        <div class="content">
          Abhinand K
        </div>
      </div>
      <hr />
      <div class="sec">
        <div class="heading">
          Assign Recruiter
        </div>
        <div class="content">
          <input
            type="text"
            pInputText
            class="assign"
            placeholder="Search Recruiter"
          />
        </div>
      </div>
    </div>
    <div class="right">
      <div class="blhead">Data Scientist – Computer Vision</div>
      <div class="bl2">DU6 | 6 Open Positions</div>
      <div class="grhead">Raised on April 2, 2025 | Kochi</div>
      <div class="cont"><b>Requisition ID:</b> REQ–2025–DSCV–006</div>
      <div class="cont"><b> Job Title:</b> Data Scientist – Computer Vision</div>
      <div class="cont">
        <b> Delivery Unit (DU): </b>DU6 – Advanced AI & ML Solutions
      </div>
      <div class="cont"><b> Location:</b> Kochi</div>
      <div class="cont"><b> Open Positions:</b> 6</div>
      <div class="cont"><b> Requisition Raised On:</b> April 2, 2025</div>
      <div class="cont"><b> Hiring Manager:</b> Arjun Menon</div>
      <div class="cont"><b> Recruiter Assigned:</b> Not Assigned</div>
      <div class="cont">
        <b>Qualifications:</b>
        <ul>
          <li>
            Bachelor’s/Master’s degree in Computer Science, Data Science, or
            related field.
          </li>
          <li>2+ years of hands-on experience in computer vision or a similar role.</li>
          <li>Strong portfolio or GitHub with previous CV projects preferred.</li>
        </ul>
      </div>
<app-button>Assign</app-button>
    </div>
  </div>
  