.job-details-container {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}

.job-sidebar {
  background-color: #e2e5ec;
  width: 300px;
  padding: 3% 2%;
  gap: 10px;
  margin-bottom: -80px;
}

.sidebar-section {
  padding: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 16px;
}

.section-content {
  font-weight: 600;
  padding-top: 10px;
}

.recruiter-search-input {
  border-radius: 10px;
  border: 1px solid navy;
  padding: 5px;
  width: 200px;
}

.job-main-content {
  padding: 3%;
}

.job-title {
  color: #7b61ff;
  font-size: 25px;
  font-weight: 600;
}

.job-summary {
  color: #7b61ff;
  font-size: 25px;
  font-weight: 500;
}

.job-meta {
  color: gray;
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 500;
}

.job-info {
  padding-top: 10px;

  .job-info-label {
    font-weight: 600;
    margin-right: 5px;
    display: inline-block;
  }

  .job-info-value {
    font-weight: 400;
  }
}


.qualifications-list {
  margin: 0;
  padding-left: 20px;

  li {
    padding: 4px 0;
  }
}

.assign-button-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
