<div class="top">
    <div class="header">
        <app-header-text [nopad]="true" context="table-header">Software Developer - Backend (Python)</app-header-text>
    </div>

    <div class="buttonset">
        <app-button (functionemit)="getButtonLabel()">{{label}}</app-button>
        <app-button>Export</app-button>
    </div>
</div>

<div class="base">
    <app-input-text label="Skills - Mandatory" [value]="jobData.mandatorySkills"
        [disabled]="true" [fontWeight]="'600'"></app-input-text>
    <app-input-text label="Skills - Primary" [value]="jobData.primarySkills" [disabled]="true" [fontWeight]="'600'"></app-input-text>
    <app-input-text label="Skills - Good To Have" [value]="jobData.goodToHaveSkills"
        [disabled]="true" [fontWeight]="'600'"></app-input-text>
    
</div>
<div class="base">
    <app-input-text label="Work Location" [value]="jobData.location" [disabled]="true" [fontWeight]="'600'"></app-input-text>
    <app-input-text label="Qualification" [value]="jobData.qualification" [disabled]="true" [fontWeight]="'600'"></app-input-text>
    <app-input-text label="Total Experience" [value]="jobData.experience" [disabled]="true" [fontWeight]="'600'"></app-input-text>
    
</div>
<div class="base">
    <app-input-text label="Relevant Experience" [value]="jobData.relevantExperience"
        [disabled]="true" [fontWeight]="'600'"></app-input-text>
    <app-input-text label="Expected Date of Joining" [value]="jobData.onboardingDate"
        [disabled]="true" [fontWeight]="'600'"></app-input-text>
</div>
<div class="base">
    <app-text-area label="Job Requisition" [value]="jobData.jobPurpose1" [disabled]="true"></app-text-area>
</div>
<div class="base">
    <app-text-area label="Job Description" [value]="jobData.jobPurpose2" [disabled]="!isEditMode"></app-text-area>
</div>
<div class="base">
    <app-text-area label="Job Purpose" [value]="jobData.jobPurpose3" [disabled]="true"></app-text-area>
</div>