.top {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5vw;

    .buttonset{
        display: flex;
        gap: 2vw;
    }
}

.base {
    padding-top: 4vh;
    display: flex;
    gap: 3vw;
}