<!-- <p-popover #op [dismissable]="true">
  <div class="assign-box">

    <ng-container *ngFor="let member of teamList" class="assign-box-item">
      <app-profile-box [fullName]="member.fullName" [role]="member.role" ></app-profile-box>
    </ng-container>
  </div>
</p-popover> -->
<p-popover #op [dismissable]="true">
  <div class="assign-box">
    <!-- loop through teamList -->
    <app-input-text
      [placeHolder]="'Search by name, email'"
      [(value)]="searchText"
      [disabled]="false"
    >
    </app-input-text>


    <!-- 👥 Filtered list -->
    <div class="scroll-container">
      <ng-container
        *ngFor="let member of filteredTeamList()"
        class="assign-box-item"
      >
      
        <div class="hover-item">
            <app-profile-box
              [fullName]="member.fullName"
              [role]="member.role"
            ></app-profile-box>
        </div>
      </ng-container>
    </div>
  </div>
</p-popover>
