<app-common-layout>
    <div class="page-container">
        <app-cards class="job-requisition-card"></app-cards>

        <div class="interview-section">
            <div class="left-column">
                <app-cards class="scheduled-interviews-card"></app-cards>
                <app-cards class="completed-interviews-card"></app-cards>
            </div>
            <div class="right-column">
                <app-cards class="awaiting-shortlisting-card"></app-cards>
            </div>
        </div>
    </div>
</app-common-layout>