.icon-group{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.icon-tile {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    cursor: pointer;
    &:hover {
        .icon-label {
          color: #ffffff;
        }
    
        app-icon ::ng-deep svg {
          fill: #ffffff !important;
        }
      }
    .icon-label {
      font-size: 1.25rem;
      color: #B8AAFF;
      padding-top: .15rem;
    }
  }