::ng-deep .button {
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: inherit; 
  }

  :host ::ng-deep .button {
  font-size: inherit;
}
