<app-common-layout>
  <div class="analyticspage">
    <div class="filter">
      <app-cards width="100%" height="7vh">
      </app-cards>
    </div>
    <div class="pipelineandincrease">
      <app-cards width="100%" height="20vh" class="pipeline">
      </app-cards>
      <app-cards width="100%" height="20vh" class="increase">
      </app-cards>
    </div>
    <div class="graphrow">
      <div class="outer">
      <app-cards width="100%" height="40vh" class="outer1">
      </app-cards>
      <app-cards width="100%" height="40vh" class="outer2">
      </app-cards>
      </div>
      <div class="inner">
        <app-cards width="100%" height="18vh" class="inner1">
        </app-cards>
        <app-cards width="100%" height="18vh" class="inner2">
        </app-cards>
      </div>
    </div>
    <div class="graphrow">
      <div class="outer">
      <app-cards width="100%" height="40vh" class="outer1">
      </app-cards>
      <app-cards width="100%" height="40vh" class="outer2">
      </app-cards>
      </div>
      <div class="inner">
        <app-cards width="100%" height="18vh" class="inner1">
        </app-cards>
        <app-cards width="100%" height="18vh" class="inner2">
        </app-cards>
      </div>
    </div>
  </div>

</app-common-layout>
