.analyticspage{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-right: 4vw;
    margin-bottom: 4vw;
}

.pipelineandincrease {
  display: flex;
  gap: 4vh;
}

.pipeline{
    flex: 2.3;
}

.increase{
    flex: 0.7;
}

.graphrow{
    display: flex;
    gap: 4vh;
}

.inner{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.outer{
    flex: 2.3;
    display: flex;
    gap: 4vh;
}