  <div class="analyticspage">
    <div class="filter">
      <app-cards width="100%" height="7vh">
      </app-cards>
    </div>
    <div class="pipelineandincrease">
      <app-cards width="100%" height="20vh" class="pipeline">
      </app-cards>
      <app-cards width="100%" height="20vh" class="increase">
      </app-cards>
    </div>
    <div class="graphrow">
      <div class="outer">
      <app-cards width="100%" height="40vh" class="outer1">
        <p-chart type="bar" [data]="sourceChartData" [options]="sourceChartOptions"></p-chart>
      </app-cards>
      <app-cards width="100%" height="40vh" class="outer2">
        <p-chart type="doughnut" [data]="interviewStatusData" [options]="interviewStatusOptions"></p-chart>
      </app-cards>
      </div>
      <div class="inner">
        <app-cards width="100%" height="18vh" class="inner1">
        </app-cards>
        <app-cards width="100%" height="18vh" class="inner2">
        </app-cards>
      </div>
    </div>
    <div class="graphrow">
      <div class="outer">
      <app-cards width="100%" height="40vh" class="outer1">
        <p-chart type="line" [data]="joinDeclineData" [options]="joinDeclineOptions"></p-chart>
      </app-cards>
      <app-cards width="100%" height="40vh" class="outer2">
      </app-cards>
      </div>
      <div class="inner">
        <app-cards width="100%" height="18vh" class="inner1">
        </app-cards>
        <app-cards width="100%" height="18vh" class="inner2">
        </app-cards>
      </div>
    </div>
  </div>
